<!DOCTYPE html>
<html>
<head>
	<title>file_metadata_microservice</title>
</head>
<link rel="stylesheet" type="text/css" href="style.css">
<body>

  <h1>File Metadata Microservice</h1>

  <p>Select and submit a file in the form below and the browser will return the size of file.</p>

<form action="/" method="post" enctype="multipart/form-data">  
  <input type="file" name="file_upload" />
  <br>
  <br>
  <input type="submit" value="Check size">
</form>  

</body>
</html>