<!DOCTYPE html>
<html>
<head>
	<title>request_header_parser_microservice</title>
</head>
<link rel="stylesheet" type="text/css" href="style.css">
<body>

  <h1>Request Header Parser Microservice</h1>

  <p>Simply add "/whoami" at the end of this address in order to display an object containing:</p>

  <ul>
  	<li>Your IP address</li>
  	<li>Your machine language</li>
  	<li>You machine OS</li>
  </ul>
  
  <h3>Example usage:</h3>

  <code>https://yofcc-request-header-parser-microservice.glitch.me/whoami</code>

  <h3>Example output:</h3>

  <code>{ "ipaddress": 123.456.789.123, "language": "en-US", "software": "Windows" }</code>
  
  <br>
  <em>Developed by <a href="https://github.com/yo870" target="_blank">Yo</a></em>

</body>
</html>